<div class="filter">
  <h1>Search Facebook feeds by keywords or by type</h1>
  Text: <input ng-model="message"><br>
  Search by:
  <select ng-model="fb_type" ng-init="fb_type='all'">
    <option value="all">All</option>
    <option value="status">Status</option>
    <option value="link">Link</option>
    <option value="photo">Photo</option>
<!--     <option value="video">Video</option> -->
  </select><br>
  <button ng-click="updatePosts()">
    <div>Update</div>
  </button>

</div>

<div id='posts'>
  <p ng-repeat="post in posts" fb-render="posts">
    <strong><fb:name uid="{{post.fb_uid_from}}"></fb:name></strong> ({{post.fb_type}}) 

    <span ng-if="post.fb_type=='status'">
      {{post.message}} <br/>{{post.name}}<br/>
      <i>{{post.story}}</i> <br/>
      <a href="{{post.link}}">{{post.link}}</a><br/>
      <img ng-src="{{post.picture}}"><br/>
    </span>
    <span ng-if="post.fb_type=='photo'">
      {{post.story}} <br/> {{post.message}} <br/>{{post.name}}<br/>
      <a href="{{post.link}}"><img ng-src="{{post.picture}}"></a>
    </span>
    <span ng-if="post.fb_type=='link'">
      {{post.story}} <br/> {{post.name}}<br/> {{post.message}} <br/>
      <img ng-src="{{post.picture}}"><br/>
      <a href="{{post.link}}">{{post.link}}</a><br/>
    </span>
  </p><br/>
</div>

<div>
<a onClick="logout()" style="color: #ffffff">Logout</a>
</div>

