<div>
  Text: <input ng-model="message"><br>
  Type:
  <select ng-model="fb_type" ng-init="fb_type='all'">
    <option value="all">All</option>
    <option value="status">Status</option>
    <option value="link">Link</option>
    <option value="photo">Photo</option>
    <option value="video">Video</option>
  </select><br>
  <button ng-click="updatePosts()">
    Update
  </button>

</div>


<div id='posts'>
  <p ng-repeat="post in posts" fb-render="posts">
    <fb:name uid="{{post.fb_uid_from}}"></fb:name> {{post.message}}
  </p><br/>
</div>
