<html>
  <head>
    <title>Better News</title>
    <link rel="stylesheet" style="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular-route.js"></script>
    <script src="js/bn_controller.js"></script>
    <script src="js/script.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="BetterNewsApp" xmlns:fb="http://ogp.me/ns/fb#">
    <div id="fb-root">
      <div ng-controller="BetterNewsController" class="container" ng-init="initialize()">
        <div ng-view>
        </div>
      </div>
    </div>
  </body>
</html>
